.vertical
{
    border-left: 3px solid grey;
}

.gap_col-3
{
    column-gap: 40px;
}

.gap_row-3
{
    row-gap: 30px;
}

.columngap
{
    column-gap: 10px;
}


.rowgap
{
    row-gap: 10px !important;
}

.list-container
{
    overflow-x:auto;
    max-height: 50vh;
}

nb-card-header
{
    background-color: rgb(59, 137, 253);
    color: white;
}

span{
    color: red;
}

.product-list
{
    cursor: pointer;
}