<div class="container-fluid">

    <div>

        <nb-card>

            <nb-card-header class="d-flex justify-content-between">
                {{headerValue}}
                <button nbButton status="success"size="medium" shape="semi-round" (click)="addCustomer()">Add Customer</button>
            </nb-card-header>

            <nb-card-body>

                <div class="row">

                    <div class="col-12 col-md-5 list-container">

                        <div *ngFor="let customer of customerList" class="customer-list" (click)="changeData(customer)">
                            <p>{{customer.Name}}</p>
                            <p>{{customer.Email}}</p>
                            <hr>
                        </div>

                    </div>

                    <div class="vertical col-1 d-none d-md-block"></div>

                    <div class="col-12 col-md-6 rowgap">

                        <div>
                            <form [formGroup]="customerForm" class="row row-wrap gap_col-3 gap_row-3">

                                <div class=" d-flex flex-column">
                                    <p><b>Name</b></p>
                                    <input nbInput shape="round" type="text" placeholder="Name" formControlName="Name">
                                    <div>
                                        <span *ngIf="customerForm.get('Name')?.hasError('required') && customerForm.get('Name')?.touched">
                                            Name is required
                                        </span>
                                        <span *ngIf="customerForm.get('Name')?.hasError('minlength')">
                                            Minimum length is 5
                                        </span>
                                        <span *ngIf="customerForm.get('Name')?.hasError('maxlength')">
                                            Maximum length is 20
                                        </span>
                                    </div>
                                </div>
    
                                <div class=" d-flex flex-column">
                                    <p><b>SPOC</b></p>
                                    <input nbInput shape="round" type="text" placeholder="SPOC" formControlName="SPOC">
                                    <div>
                                        <span *ngIf="customerForm.get('SPOC')?.hasError('required') && customerForm.get('SPOC')?.touched">
                                            SPOC is required
                                        </span>
                                        <span *ngIf="customerForm.get('SPOC')?.hasError('minlength')">
                                            Minimum length is 5
                                        </span>
                                        <span *ngIf="customerForm.get('SPOC')?.hasError('maxlength')">
                                            Maximum length is 20
                                        </span>
                                    </div>
                                </div>

                                <div class=" d-flex flex-column">
                                    <p><b>Email</b></p>
                                    <input nbInput shape="round" type="text" placeholder="Email" formControlName="Email">
                                    <div>
                                        <span *ngIf="customerForm.get('Email')?.hasError('required') && customerForm.get('Email')?.touched">
                                            Email is required
                                        </span>
                                        <span *ngIf="customerForm.get('Email')?.hasError('email')">
                                            Invalid Email
                                        </span>
                                    </div>
                                </div>

                                <div class=" d-flex flex-column">
                                    <p><b>Phone</b></p>
                                    <input nbInput shape="round" type="text" placeholder="Phone" formControlName="Phone">
                                    <div>
                                        <span *ngIf="customerForm.get('Phone')?.hasError('required') && customerForm.get('Phone')?.touched">
                                            Phone is required
                                        </span>
                                        <span *ngIf="customerForm.get('Phone')?.hasError('minlength')">
                                            Minimum length is 10
                                        </span>
                                    </div>
                                </div>
    
                            </form>
                        </div>

                        <div class="d-flex justify-content-end columngap p-5">
                            <button nbButton status="warning"size="medium" shape="semi-round" (click)="clear(btnValue)">Clear</button>
                            <button nbButton status="primary"size="medium" shape="semi-round" (click)="open(dialog, btnValue)">{{btnValue}}</button>
                        </div>

                    </div>

                </div>

            </nb-card-body>

        </nb-card>

    </div>

</div>






<ng-template #dialog let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Are you sure</nb-card-header>
      <nb-card-body class="d-flex columngap pt-3">
        <button nbButton status="warning"size="medium" shape="semi-round" (click)="ref.close()">No</button>
        <button nbButton status="primary"size="medium" shape="semi-round" (click)="createOrUpdateUser(btnValue,ref)">Yes</button>
      </nb-card-body>
      <nb-card-footer>
        <!-- <button nbButton (click)="ref.close()">Close Dialog</button> -->
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <!-- <button nbButton (click)="open(dialog)">Open Dialog</button> -->