.rowgap
{
    row-gap: 30px ;
}

.formrow
{
    row-gap: 10px;
}

span
{
    color: red;
}

nb-card-header
{
    background-color: rgb(59, 137, 253);
    color: white;
}

.btncopy
{
    height: 40px;
}

.DecryptTextarea
{
    height: 150px;
}